In [3]:
import pandas as pd

In [4]:
pollution = pd.read_csv("globalairpollution.csv")

In [5]:
pollution

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good
...,...,...,...,...,...,...,...,...,...,...,...,...
23458,India,Gursahaiganj,184,Unhealthy,3,Good,154,Unhealthy,2,Good,184,Unhealthy
23459,France,Sceaux,50,Good,1,Good,20,Good,5,Good,50,Good
23460,India,Mormugao,50,Good,1,Good,22,Good,1,Good,50,Good
23461,United States of America,Westerville,71,Moderate,1,Good,44,Good,2,Good,71,Moderate
23462,Malaysia,Marang,70,Moderate,1,Good,38,Good,0,Good,70,Moderate

## Exploratory Data Analysis

In [6]:
pollution.shape

(23463, 12)

In [7]:
pollution.describe()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value
count,23463.000000,23463.000000,23463.000000,23463.000000,23463.000000
mean,72.010868,1.368367,35.193709,3.063334,68.519755
std,56.055220,1.832064,28.098723,5.254108,54.796443
min,6.000000,0.000000,0.000000,0.000000,0.000000
25%,39.000000,1.000000,21.000000,0.000000,35.000000
50%,55.000000,1.000000,31.000000,1.000000,54.000000
75%,79.000000,1.000000,40.000000,4.000000,79.000000
max,500.000000,133.000000,235.000000,91.000000,500.000000

In [8]:
pollution["AQI Value"].unique

<bound method Series.unique of 0         51
1         41
2         66
3         34
4         22
        ...
23458    184
23459     50
23460     50
23461     71
23462     70
Name: AQI Value, Length: 23463, dtype: int64>

In [12]:
pollution.head()

,Country,City,AQI Value,AQI Category,CO AQI Value,CO AQI Category,Ozone AQI Value,Ozone AQI Category,NO2 AQI Value,NO2 AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,1,Good,36,Good,0,Good,51,Moderate
1,Brazil,Presidente Dutra,41,Good,1,Good,5,Good,1,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,1,Good,39,Good,2,Good,66,Moderate
3,Poland,Przasnysz,34,Good,1,Good,34,Good,0,Good,20,Good
4,France,Punaauia,22,Good,0,Good,22,Good,0,Good,6,Good

In [9]:
pollutioncolumns = pollution.columns

In [10]:
pollutioncolumns

Index(['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value',
       'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category',
       'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value',
       'PM2.5 AQI Category'],
      dtype='object')

In [26]:
pollution2 = pollution.drop(pollution.columns[4:10], axis=1)

In [27]:
pollution2.columns

Index(['Country', 'City', 'AQI Value', 'AQI Category', 'PM2.5 AQI Value',
       'PM2.5 AQI Category'],
      dtype='object')

In [28]:
pollution2

,Country,City,AQI Value,AQI Category,PM2.5 AQI Value,PM2.5 AQI Category
0,Russian Federation,Praskoveya,51,Moderate,51,Moderate
1,Brazil,Presidente Dutra,41,Good,41,Good
2,Italy,Priolo Gargallo,66,Moderate,66,Moderate
3,Poland,Przasnysz,34,Good,20,Good
4,France,Punaauia,22,Good,6,Good
...,...,...,...,...,...,...
23458,India,Gursahaiganj,184,Unhealthy,184,Unhealthy
23459,France,Sceaux,50,Good,50,Good
23460,India,Mormugao,50,Good,50,Good
23461,United States of America,Westerville,71,Moderate,71,Moderate
23462,Malaysia,Marang,70,Moderate,70,Moderate

In [29]:
## group by cpuntry and get mean value of AQI Value